.anun-content {
/*	background-color: #191919;*/
	background-color: #f1f1f1;
	width: 30%;
	position:fixed;
	top: 0%;
	z-index: 7000;
	height: 100%;
	right: 0%;
	margin: 0px	!important;
}

.anun-content > *:first-child {
	margin-top: 50px;
	
}
.anun-content > * {
	background-color: white;
	border: 1px solid #ccc;
	width: 87%;
	margin: 5px;
	padding: 10px 5% 5px 5%;	
	-webkit-transition: all .5s ease;
}
.anun-content > * > *.anuncio-link {
	color:	#006621;
	font-weight: bold;
}
.anun-content > * > *.anuncio-text {
	margin-top: 5px;
}

.anun-content > * > *:first-child {
	color:blue;
}
.anun-content > *:hover {
/*	background-color:#016982;*/
}

.mini-browser-anun {
	overflow: hidden	!important;
	height: 10%;
	top:auto;
	bottom: 0%	!important;
	width: 100%;
}
.mini-browser-anun > *:first-child {
	margin-top: 5px;
	height: 60%;
	padding-top: 2%;
}
.mini-browser-anun > * > *.anuncio-text {
	display: none;
}
.mini-browser-anun > * > *.anuncio-btn {
	display:none;
}
