.f-open {
	display:block;
	transform: scale(1)	!important;
	-moz-transform: scale(1)	!important; /* Firefox */
	-webkit-transform: scale(1)	!important; /* Chrome - Safari */
	-o-transform: scale(1)	!important; /* Opera */
	-ms-transform: scale(1)	!important; /* IE9 */
	opacity: 1	!important;
}
.f-close {

}
.mini-browser-form {
	width: 90% !important;
	left: 5% !important;
	right: 0% !important;
	margin: 0px !important;
	padding: 0px !important;
}

.rohka-content {
	opacity: 0;
	font-family: arial, sans-serif;
	font-size: 15px;
	border: 0% solid #ccc;
	background-color: #fafafa;
	width: 25%;
	min-width: 300px;
	border: px solid #ccc;
	padding: 10px 40px 40px 40px;
	z-index: 9000;
	left: 32%;
	position: absolute;
	top: 100px;
	background-color: #fafafa;
	-moz-box-shadow: 0px 0px 50px #555555;
	-webkit-box-shadow: 0px 0px 50px #555555;
	box-shadow: 0px 0px 50px #555555;

	-webkit-transition: all 0.5s ease; 
	-moz-transition: all 0.5s ease;

	transform: scale(0);
	-moz-transform: scale(0); /* Firefox */
	-webkit-transform: scale(0); /* Chrome - Safari */
	-o-transform: scale(0); /* Opera */
	-ms-transform: scale(0); /* IE9 */

}

.mini-browser-form>.rohka-form {
	margin: 10px 40px 40px 40px;
}

.rohka-form {
	z-index: 2000 !important;
}

.rohka-form>* {
	width: 100%    !important;
	font-size: 16px !important;
}

.rohka-form>select {
	
}

.rohka-form>input {
	margin: 0px !important;
}

.mini-browser-form>form>input[type="button"] {
	font-size: 20px !important;
}

.rohka-form>input[type="button"] {
	float: left;
	border-radius: 0px !important;
	width: 50% !important;
	margin: 0px !important;
	/*	height: 35px;*/ /*	padding: 0px 10px 0px 10px !important;*/
	padding: 10px !important;
}

.rohka-form>input[type="button"]:last-child {
	background-color: green !important;
}

.rohka-form>textarea {
	width: 97%;
	padding: 1%;
	margin-top: 0px;
	color: #555555 !important;
	height: 100px;
}

.rohka-form>input[type="text"],.rohka-form>input[type="password"] {
	width: 97%;
	padding: 5px;
}

.rohka-form>input[type="text"],.rohka-form>select,.rohka-form>input[type="password"],.rohka-form>textarea
	{
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid transparent;
	-ms-transition: 0.3s linear;
	-moz-transition: 0.3s linear;
	-webkit-transition: 0.3s linear;
	-o-transition: 0.3s linear;
}

.rohka-form>input[type="text"]:focus,.rohka-form>select:focus,.rohka-form>input[type="password"]:focus,.rohka-form>textarea:focus
	{
	border-top: 1px solid #158DB5;
	border-left: 1px solid #158DB5;
	border-right: 1px solid #158DB5;
	border-bottom: 1px solid #158DB5;
	color: #158DB5 !important;
	-moz-box-shadow: 0px 0px 5px #5BC0E2;
	-webkit-box-shadow: 0px 0px 5px #5BC0E2;
	box-shadow: 0px 0px 5px #5BC0E2;
	z-index: 1000;
}

.rohka-form>input[type="text"]:first-child,.rohka-form>select:first-child,.rohka-form>input[type="password"]:first-child,.rohka-form>textarea:first-child
	{
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.rohka-form>input:focus { /*border-left: 0px !important;
	border-right: 0px !important;*/
	
}

.mini-browser-form>.rohka-titulo {
	font-size: 30px;
	margin: 10px 40px 10px 40px;
}

.rohka-titulo {
	color: #555555;
	font-size: 30px;
	padding: 10px;
	font-family: Arial, sans-serif;
	letter-spacing: 0.5px;
	-webkit-animation-name: uk-scale-down;
	animation-name: uk-scale-down;
	-webkit-animation-duration: 0.5s;
	animation-duration: 0.5s;
	-webkit-animation-timing-function: ease-out;
	animation-timing-function: ease-out;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

input.big {
	font-size: 18px;
	letter-spacing: 1px;
}

.half {
	width: 50% !important;
}

.full {
	width: 100% !important;
}

.enabled_disabled {
	background-color: #ccc;
	width: 50%;
	height: 32px;
	cursor: pointer;
	margin: 3px 0px 3px 0px !important;
}

.enabled_disabled>* {
	display: inline-table;
}

.enabled_disabled>input {
	width: 50%;
	margin: 0px !important;
	position: relative;
	-ms-transition: 0.1s linear;
	-moz-transition: 0.1s linear;
	-webkit-transition: 0.1s linear;
	-o-transition: 0.1s linear;
	z-index: 4000;
	margin-top: -1px;
}

.enabled_disabled>input.enabled {
	left: 0px;
	border: 1px solid #3079ed !important;
	background-color: #4D90FE !important;
	font-weight: bold;
	cursor: pointer;
	color: white !important;
	z-index: 1000;
}

.enabled_disabled>input.disabled {
	left: 50%;
	border: 1px solid #D51723 !important;
	background-color: #db2c37 !important;
	color: white !important;
}

.mobile {
	height: 10% !important;
}

.date {
	background-image: url(images/calendar1.png);
	background-size: 30px 30px;
	background-repeat: no-repeat;
	background-position: 99%;
	cursor: pointer;
}

input[name *="correo"],input[name *="email"] {
	text-transform: lowercase !important;
}

.form-advice {
	background-color: #D72C5F;
	color: white;
	font-size: 13px;
	position: absolute;
	border: 1px solid red;
	width: 200px;
	margin-top: -45px;
	height: 35px;
	padding-left: 10px;
	padding-top: 5px;
}

/*
.form-control {
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.428571429;
	color: #555555;
	vertical-align: middle;
	background-color: #ffffff;
	background-image: none;
	border: 1px solid #cccccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border-color ease-in-out 0.15s, box-shadow
		ease-in-out 0.15s;
	transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
*/
.mini-browser-form>.rohka-form>textarea {
	font-size: 30px !important;
	padding: 7px !important;
	height: auto !important;
}

.mini-browser-form>.rohka-form>select,.mini-browser-form>.rohka-form>input[list],.mini-browser-form>.rohka-form,.mini-browser-form>.rohka-form>input[type="text"],.mini-browser-form>.rohka-form>input[type="password"]
	{
	font-size: 30px !important;
	padding: 10px !important;
	height: auto !important;
}

.rohka-form>select,.rohka-form>input[list],.rohka-form>input[type=text],.rohka-form>input[type=password]
	{
	background-color: white;
	/*	border: 1px solid #158DB5;*/
	border-top: 1 px solid #158DB5;
	border-left: 1 px solid #158DB5;
	border-right: 1 px solid #158DB5;
	margin-bottom: -2 px;
	color: #158DB5;
	font-size: 15px;
	/*	width: 200px;*/ /*	height: 20px;*/
}

.rohka-form>input[list],.rohka-form>input[type=text],.rohka-form>input[type=password]
	{
	width: 96%;
}

.rohka-form>select:selected,.rohka-form>input[list]:focus,.rohka-form>input[type=text]:focus,.rohka-form>input[type=password]:focus
	{
	border: 1px solid #D72C5F !important;
	color: #D72C5F !important;
	transition: .3s;
	-ms-transition: .3s;
	-webkit-transition: .3s;
	-moz-transition: .3s;
	-o-transition: .3s;
}

.rohka-form>input[type=text].validate-numeric {
	width: 100px;
	text-align: right;
}

input[readonly] {
	border: 1px solid transparent !important;
	background-color: transparent	!important;
}

input[readonly="readonly"]:focus {
	border: 1px solid transparent !important;
}

.btn_link {
	background-color: transparent !important;
	border: 1px solid transparent !important;
	font-size: 14px !important;
	color: #555555 !important;
}

.btn_link:hover {
	color: #158DB5 !important;
}

.rohka-form>input[type="button"][value="Cancelar"],.btn_colorado,.rohka-form>input[type="button"]
	[value *="Eliminar"] {
	background-color: #D72C5F !important;
	color: white !important;
	border: 1px solid red !important;
}

.btn_aceptar,.rohka-form>input[type="button"][value="Ingresar"] {
	background-color: #3276b1 !important;
	color: white !important;
	cursor: pointer !important;
	border-color: #285e8e;
}
