/*DFEAF5*/
* {
	margin: 0;
	padding: 0px;
	font: normal 13px Roboto, arial, sans-serif;
}

body {
	background-image: url(images/fondo_long.png);
	background-attachment: fixed;
	background-color: #F1F2F2;
	background-repeat:	repeat-x;
	/*   background-size: 100% 100%;*/
	height: 100%;
	margin: 0;
	padding: 0;
	padding-top: 50px;
	/*padding-bottom: 200px;*/
	width: 100%;
}

a {
	text-decoration: none;
}

h1 { /*color:#303334;*/
	color: #0099ff;
	font-size: 25px;
}

h2 {
	color: #43638B;
	font-size: 25px;
	font-weight: bold;
	margin-left: 20px;
}

[type="button"],[type="submit"] {
	border: 1px solid #ccc;
	border-radius: 1px;
	cursor: pointer;
	color: #232323;
	font-weight: bold;
	opacity: .9;
	padding: 7px 10px;
	margin-left:	5px	!important;
	margin-top:	3px	!important;
	margin-bottom:	3px	!important;
}

[type="button"]:hover,[type="submit"]:hover {
	opacity: 1;
}

b {
	color: #404041 !important;
	font-weight: bold;
	font-size: 15px;
}
.boton_verde {
	background-color: #3B9F37;
	color:	white;
}
input[value="Finalizar"],input[value="Aceptar"],.btnAceptar {
	border: 1px solid #3079ed	!important;
	background-color: #4D90FE	!important;
	font-weight:	bold;
	cursor:	pointer;
	color: white	!important;
	z-index: 1000;
	width: auto	!important;
	-ms-transition: 0.3s linear;
	-moz-transition: 0.3s linear;
	-webkit-transition: 0.3s linear;
	-o-transition: 0.3s linear;
}
input[value="Aceptar"]:hover,.btnAceptar:focus,
input[value="Aceptar"]:hover,.btnAceptar:hover {
	background-color: #3f83f1 !important;
	color:	white;
}

input[value="Salir"],input[value="Cancelar"],.btnCancelar {
	border: 1px solid #D51723	!important;
	background-color: #db2c37	!important;
	color: white	!important;
}

#exit {
	background-image: url(images/dialog-close.png);
	background-repeat: no-repeat;
	background-position: 6px 6px;
	cursor: pointer;
	width: 25px;
	height: 25px;
	position: fixed;
	right: 15px;
	top: 2px;
	z-index: 4500;
}
.new_loading {
	background-color: white;
	/*background-image: url(images/Cargando.png);
	background-position: center;
	background-repeat: no-repeat;*/
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	height: 90%;
	left: 0px;
	position: fixed;
	padding-top: 10%;
	top: 0px;
	width: 100%;
	display: none;
	z-index: 6000;
}

.loading {
	background-color: transparent;
	background-image: url(images/ajax-loading.gif);
	background-position: right;
	background-repeat: no-repeat;
	font-size: 13px;
	padding: 5px;
	height: 50px;
	left: 47%;
	position: fixed;
	top: 20%;
	width: 50px;
	display: none;
}

#loading {
	background-color: transparent;
	background-image: url(images/ajax-loading.gif);
	background-position: right;
	background-repeat: no-repeat;
	font-size: 13px;
	padding: 5px;
	height: 50px;
	left: 47%;
	position: fixed;
	top: 6%;
	width: 50px;
	display: none;
}

#btnRefresh {
	cursor: pointer;
	width: 70px;
	height: 30px;
	border: 1px solid #ccc !important;
	border-radius: 2px;
	background-image: url(images/actualizar.png);
	background-repeat: no-repeat;
	background-position: center;
	margin-top: 10px;
	background-color: #f8f8f8;
}

#btnBuscarCentral,#btnBuscar,.btnBuscar {
	cursor: pointer;
	width: 70px;
	height: 30px;
	border: 1px solid #3079ed !important;
	border-radius: 2px;
	background-image: url(images/buscar.png);
	background-repeat: no-repeat;
	background-position: center;
	margin-top: 10px;
	background-color: #4D90FE;
}

#btnBuscarCentral:hover,#btnBuscar:hover,.btnBuscar:hover {
	background-color: #3f83f1;
}

#btnActualizar {
	cursor: pointer;
	border: none !important;
	width: 28px;
	height: 28px;
	border-radius: 15px;
	background-image: url(images/update.png) !important;
	background-repeat: no-repeat;
	background-color: #2683d6;
	background-position: -2px -2px;
}

#btnEditar {
	background-color: #FF5C4D;
	background-image: url(images/Edit.png);
	background-position: right;
	background-repeat: no-repeat;
	background-size: 20px 20px;
	border: 1px solid #ccc;
	border-radius: 3px;
	color: white;
	cursor: pointer;
	font-weight: bold;
	left: 100px;
	opacity: 1 !important;
	padding: 5px 20px 5px 5px;
	position: relative;
}

#vermas {
	/*background-image: -webkit-linear-gradient(top, #fbfbfb, #e4e4e4);
	background-image: -moz-linear-gradient(top, #fbfbfb, #e4e4e4);
	background-image: -ms-linear-gradient(top, #fbfbfb, #e4e4e4);
	background-image: -o-linear-gradient(top, #fbfbfb, #e4e4e4);
	background-image: linear-gradient(top, #fbfbfb, #e4e4e4);*/
	background-color:	#f8f8f8;	
	padding: 5px;
	width: 500px;
	margin: 0 auto;
	margin-top:	10px;
	border: 1px solid #c6c6c6;
	cursor: pointer;
	text-align: center;
	font-size: 11px;
	font-weight:	bold;
	color: #222;
}
#listar_usuarios {
	width: 80px;
	border: 1px solid #2683d6;
	background-color: #2683d6;
	padding: 5px;
	cursor: pointer;
	color: white;
	border-radius: 7px;
}
/********************************/
table.showdata {
	background-color: white;
	border-collapse: separate;
	border-spacing: 0px;
	border: 1px solid #ccc;
}

table.showdata td {
	border: 1px solid #f1f1f1 !important;
	padding: 2px !important;
}

.showdata-titulos {
	background-color: #2683d6;
	color: white;
}

.showdata-titulos>td {
	text-align: center;
	padding: 5px 0px 5px 0px;
}

.destacados  td {
	text-align: center;
	border: 1px solid #2683d6 !important;
}

#registros {
	border: 1px solid red;
	text-align: center;
	color: black;
	height: 25px;
	width: 100%;
}

#otro {
	font-weight: bold;
}

#UserName,#UserBackground,#UserDccId,#UserMail,#UserTipe {
	display: none;
}

#UserProfile:hover {
	opacity: 1;
}
/**/
#result,#title {
	font-size: 13px;
	background-color: #353744;
	color: white;
	z-index: 4000;
}

#title {
	border: 1px solid #fafafa;
	font-size: 11px;
	font-weight: bold;
	width: 100px;
	text-align: justify;
	display: none;
	padding: 7px;
	position: absolute !important;
	z-index: 10000;
}

#result {
	border: 1px solid #ccc;
	padding-left: 5px;
	position: absolute !important;
}

#result>div {
	cursor: default;
	border-bottom: 1px solid #545557;
	padding: 3px;
}

#result>div:hover {
	cursor: pointer;
	color: #2683d6;
}
/*********************************/
#DatosMfp {
	margin: 0 auto;
	margin-top: 50px;
	overflow: hidden;
	padding: 10px 50px 10px 50px;
	background-color: #fff;
	border: 1px solid #ccc;
	color: #353744;
}

#DatosMfp td {
	padding: 3px;
}

#contenedor_tabla {
	margin: 0 auto;
	overflow: hidden;
}
/*#contenido > div:first-child {
    border: 1px solid transparent   !important;
    padding-left: 20px;
    margin-top:10px;
}
#contenido > div:first-child:hover {
    background-color: transparent   !important;
}*/
#contenido>div {
	border-top: 1px solid #ccc;
	border-left: 2px solid transparent;
	text-align: justify !important;
	cursor: default;
}

#contenido>div:last-child {
	border-bottom: 1px solid #ccc;
}

#contenido>div:hover {
	background-color: #FFFEDB !important;
	border-left: 2px solid #4D90FE;
}

#contenido>div>div:last-child {
	float: right;
	text-align: right;
	margin-left: 0px !important;
}

#contenido>div>div {
	display: inline-block !important;
	margin: 0px 25px !important;
	padding: 10px !important;
	text-align: center;
}

.eliminar { /*   background-color: red !important;*/
	background-image: url(images/delete.png) !important;
	background-repeat: no-repeat !important;
	width: 15px !important;
	cursor: pointer !important;
}

#cuadro {
	position: absolute;
	left: 50%; /*//esquina izquierda al centro*/
	top: 50%; /*/esquina superior al centro*/
	height: 400px; /*/alto*/
	margin-top: -200px;
	/*/ 400px/2=200px, especificamos la posici�n central entre las 2 esquinas calculando la mitad del total*/
	width: 600px; /*/ancho*/
	margin-left: -300px;
	/*/ 600px/2=300px, especificamos la posici�n central entre las 2 esquinas calculando la mitad del total*/
	background-color: white;
	border: 1px solid #ccc;
	border-radius: 15px;
	padding: 20px;
	box-shadow: 0 0 300px rgb(0, 0, 0);
}
/*#permisos {
}*/
/*#permisos {
	opacity: 0;
}*/

#uploadFile {
	background-color: white;
	border: 1px solid #ccc;
	margin: 0 auto;
	margin-top: 50px;
	text-align: center;
	padding: 50px;
	width: 500px;
}

.myDialog {
	margin: -200px 0 0 -350px;
	width: 700px;
	height: 300px;
}

.myDialog iframe {
	width: 700px;
	height: 300px;
}

#panel,#nombres {
	margin: 0 auto;
	width: 150px;
}

#panel {
	height: 80px;
	margin-top: 150px;
	z-index: 1000;
	background-color: #363A3D;
	box-shadow: 0px 0px 50px #000;
	-ms-box-shadow: 0px 0px 50px #000;
	-webkit-box-shadow: 0px 0px 50px #000;
	-moz-box-shadow: 0px 0px 50px #000;
	-o-box-shadow: 0px 0px 50px #000;
}

#nombres {
	color: #363A3D;
}

#nombres>div {
	display: inline-block;
	font-size: 13px;
	font-weight: bold;
	letter-spacing: 0.07em;
	margin: 5px 10px 5px 10px;
	opacity: 0;
	position: relative;
	text-align: center;
	width: 50px;
}

#panel>div {
	background-repeat: no-repeat;
	background-size: 50px 50px;
	border-radius: 10px;
	cursor: pointer;
	display: inline-block;
	width: 50px;
	height: 50px;
	margin: 10px 10px 10px 10px;
	position: relative;
	opacity: 0;
	-ms-transition-duration: 0.5s;
	-webkit-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	-o-transition-duration: 0.5s;
	-o-background-size: 50px 50px;
	-ms-background-size: 50px 50px;
	-webkit-background-size: 50px 50px;
}

#mfp {
	background-image: url(images/printer_white.png);
	background-position: 0px 3px;
}

#usuario {
	background-image: url(images/user.png);
}

#alarmas {
	background-image: url(images/alarmas.png);
}

.alarma {
	background-color: white;
	background-image: url(images/sprite_black2.png);
	background-position: -87px -86px;
	cursor: pointer;
	height: 16px !important;
	opacity: 0.8;
	width: 16px !important;
	padding: 0px !important;
	margin-top: 10px	!important;
	margin-left: 20px	!important;
}

.alarma_no {
	background-color: white;
	background-image: url(images/sprite_black2.png);
	background-position: -44px -45px;
	height: 16px !important;
	opacity: 0.8;
	width: 16px !important;
	padding: 0px !important;
	margin-top: 10px;
	margin-left: 20px	!important;
}

.alarma_none {
	height: 16px !important;
	width: 16px !important;
	padding: 0px !important;
	margin-top: 10px;
}

.alarma_true {
	background-color: #45ab37;
	border: 1px solid green;
	cursor: pointer !important;
	border-radius: 10px;
	display: inline-block;
	height: 10px;
	width: 10px;
}

.alarma_false {
	background-color: #7a7a7a;
	border: 1px solid #606060;
	cursor: pointer !important;
	border-radius: 10px;
	display: inline-block;
	height: 10px;
	width: 10px;
}

#config {
	background-image: url(images/config.png);
}

#confign {
	margin-left: -5px !important;
}

.fecha,[name *=Fecha] {
	background-image: url(images/calendar.png);
	background-position: right;
	background-repeat: no-repeat;
	background-size: 20px 20px;
	-o-background-size: 20px 20px;
	-ms-background-size: 20px 20px;
	-webkit-background-size: 20px 20px;
	cursor: pointer;
	width: 150px;
}

.buscando {
	background-image: url('images/ajax-loading.gif') !important;
	background-repeat: no-repeat !important;
	background-position: right !important;
	background-size: 15px 15px !important;
	-ms-background-size: 15px 15px !important;
	-webkit-background-size: 15px 15px !important;
	-o-background-size: 15px 15px !important;
}

table.double {
	margin: 0 auto;
}

#tabla_permisos {
	border-collapse: separate;
	border-spacing: 0px;
}

#tabla_permisos th {
	background-color: #4990C6;
	border-radius: 15px;
	font-size: 14px;
	padding: 7px 0px 7px 0px;
	color: white;
}

#tabla_permisos th [type=checkbox] {
	cursor: pointer;
}

#tabla_permisos tr:hover td {
	background-color: #E6F9FF;
}

#tabla_permisos td {
	background-color: white;
	border-bottom: 1px solid #ccc;
	text-align: center;
	padding: 4px;
}

#back {
	background-image: url(images/download.png);
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	left: 50px;
	background-size: 30px 30px;
}

#search {
	left: 100px;
	background-image: url(images/buscar.png);
	background-position: 8px;
}

#back,#search {
	background-repeat: no-repeat;
	background-color: #232323;
	border: 1px solid #2c2c2c;
	border-radius: 25px;
	cursor: pointer;
	height: 30px;
	position: fixed;
	top: 2px;
	width: 30px;
	z-index: 4600;
	-ms-transition: background 0.3s ease;
	-webkit-transition: background 0.3s ease;
	-moz-transition: background 0.3s ease;
	-o-transition: background 0.3s ease;
}

#search:hover,#back:hover {
	background-color: #3488BF;
	border: 1px solid #2880b9;
	box-shadow: 0px 0px 5px #3488BF;
	-ms-box-shadow: 0px 0px 5px #3488BF;
	-webkit-box-shadow: 0px 0px 5px #3488BF;
	-moz-box-shadow: 0px 0px 5px #3488BF;
}

.red>td {
	background-color: #FFE4E4 !important;
	color: red !important;
	font-weight: bold !important;
}

.yellow>td {
	background-color: #FFFEE4 !important;
	color: #AB9E0E !important;
	font-weight: bold !important;
}

.clickme {
	cursor: pointer !important;
}

.clickme:hover>* {
	cursor: pointer !important;
	text-decoration: underline;
	color: #4D90FE !important;
}

#panel_ayuda {
	background-color: black;
	background-image: url(images/panel_ayuda_bg.png);
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	bottom: 0px;
	height: 35px;
	margin-left: 15%;
	padding-left: 15px;
	padding-right: 15px;
	position: fixed;
	width: 70%;
}

#panel_ayuda>div {
	display: inline-block;
	margin-top: 10px;
}
/**/
#header-content {
	background-color: #404041;
	position: fixed;
	top: 0px;
	width: 100%;
	z-index: 4500;
}

#header-content>#header {
	margin: 0 auto;
	text-align: center;
	width: 900px;
}

#header-content>#header>* {
	border-bottom: 5px solid transparent;
	color: white;
	cursor: pointer;
	display: inline-block;
	font-size: 14px;
	margin: 0px;
	padding: 5px 10px 10px 10px;
	text-decoration: none;
	-webkit-transition: background 0.5s ease;
	-moz-transition: background 0.5s ease;
	-o-transition: background 0.5s ease;
}

#header-content>#header>*:hover {
	border-bottom: 5px solid #4D90FE;
}

.menu-hover {
	border-bottom: 5px solid #db2c37 !important;
}

#sub-header .non-selected { /*   background-color: #9a9a9a;*/
	
}

#sub-header .selected {
	background-color: #ef4135;
}

#sub-header {
	position: fixed;
	top: 0px;
	width: 100%;
	z-index: 1000;
	z-index: 4200;
}

#sub-header>div {
	background-color: #505050;
	height: 28px;
	position: absolute;
	text-align: center;
	top: 0px;
	width: 100%;
}

#sub-header>div>* {
	color: white;
	display: inline-block;
	font-size: 13px;
	font-weight: bold;
	padding: 3px 5px 3px 5px;
	margin: 5px 5px 0px 5px;
	text-decoration: none;
}

#sub-header>div>*:hover {
	text-decoration: underline;
}

.menu-selected {
	background-color: #ef4135 !important;
	font-weight: bold;
}

.menu-selected:hover { /*   background-color: #FF5C4D  !important;*/
	
}
/*#logo_dimacofi {
    background-image: url(images/logo.png);
    background-repeat: no-repeat;
    height: 59px;
    left: 10px;
    bottom: 15px;
    position: fixed;
    width: 143px;
    z-index: 10000;
}*/
select {
	padding: 2px	!important;
}

option:hover {
	background-color: #c72b2c !important;
}

.actions>div {
	display: inline-block;
}
.message {
	background-color: #FFF2AE;
	border:	2px dashed #C3B364;
	padding:	13px;
	font-size: 13px;
}
.Mensaje {
	background-color: #232323;
	border-radius: 7px;
	color: white;
	opacity: 0;
	padding: 20px;
	position: fixed;
	width: 300px;
	z-index: 10000;
}

#Confirmar {
	bottom: -100px;
	left: 20px;
	text-align: center;
	width: 400px;
}

#Success {
	background-image: url(images/mBox-Sprites.png);
	background-position: 10px -190px;
	background-repeat: no-repeat;
	bottom: 20px;
	left: 20px;
	padding-left: 50px;
}

#Error {
	background-image: url(images/mBox-Sprites.png);
	background-position: 10px -490px;
	background-repeat: no-repeat;
	top: -100px;
	right: 20px;
	padding-left: 50px;
}

#update {
	bottom: 20px;
	left: 480px;
	opacity: 0;
	position: fixed;
	text-align: center;
	width: 25%;
}

#fechaPanel {
	top: 30%;
	left: 38%;
}

.mfp-link {
	background-image: url(images/icon-sprite.png);
	background-repeat: no-repeat;
	background-position: 1px -60px;
	width: 0px !important;
	height: 0px !important;
	padding: 1px 9px !important;
}

.tr-selected>td {
	background-color: #d6e6ff !important;
	color: black !important
}

.tr-selected>td:first-child {
	border-left: 2px solid #4D90FE;
}

.edit {
	background-image:
		url(images/events-8ae79ac0f710d825562294f5e87de6ef.png);
	background-repeat: no-repeat;
	background-position: -117px 2px;
	cursor: pointer;
	width: 16px;
	height: 16px;
	margin-left: -20px !important;
	margin-bottom: -3px !important;
	opacity: .5;
	-ms-transition: .2s;
	-webkit-transition: .2s;
	-moz-transition: .2s;
	-o-transition: .2s;
}

.edit:hover {
	opacity: 1;
}

.contadores_excel {
	background-color: transparent !important;
	background-image: url(images/excel.png);
	background-position: center;
	background-repeat: no-repeat;
	border: none;
	cursor: pointer;
	width: 16px;
	height: 16px;
}

.exportar_lista_de_usuarios,.importar_lista_usuarios {
	background-image: url(images/icon-sprite.png);
	background-repeat: no-repeat;
	border: none;
	cursor: pointer;
	width: 16px;
	height: 16px;
}

.exportar_lista_de_usuarios {
	background-position: -40px -60px;
}

.importar_lista_usuarios {
	background-position: -60px -60px;
}

.exportar_lista_de_usuarios_no {
	width: 16px;
	height: 16px;
}

.ver_cuentas {
	background-image: url(images/sg-3ec0d080da1e57fde5643bf778db925d.png);
	background-position: -385px -47px;
	background-repeat: no-repeat;
	cursor: pointer;
	padding: 9px 0px;
	width: 25px;
}

.grafico {
	border: 1px solid red;
}

#siguiente {
	border: 1px solid red;
	height: 100px;
	position: absolute;
	right: 10%;
	top: 30%;
	width: 50px;
}

#anterior {
	border: 1px solid red;
	height: 100px;
	position: absolute;
	left: 10%;
	top: 30%;
	width: 50px;
}
/*ESTADOS*/
.ACTIVA_2,.ACTIVA,.ACTIVO,.ENCONTRADO,.BLOQUEADO,.INACTIVA,.PENDIENTE,.BACKUP,.OFFLINE,.DEBAJA,.BAJA,.PERDIDA,.CONFIGURAR,.ERROR,.CONTADOR
	{
	padding: 5px 10px !important;
	font-weight: bold;
	font-size: 11px;
	color: white !important;
	cursor: default !important;
	z-index: 100;
}

.ACTIVA:hover,.ACTIVO,.ENCONTRADO,.BLOQUEADO,.INACTIVA:hover,.PENDIENTE:hover,.BACKUP:hover,.OFFLINE:hover,.BAJA:hover,.DEBAJA:hover,.PERDIDA:hover,.CONFIGURAR:hover,.ERROR:hover,.CONTADOR:hover
	{ /*opacity: 1;*/
	
}

.ACTIVA_2 {
	color: #232323 !important;
	background-color: #F2D601 !important;
}

.ACTIVA,.ACTIVO {
	background-color: #4B8F0C !important;
}

.INACTIVA {
	background-color: #fafafa !important;
}

.PENDIENTE,.ENCONTRADO {
	background-color: #fcad7d !important;
}

.BACKUP {
	background-color: #fffcc4 !important;
	color: #53573c !important;
}

.OFFLINE {
	background-color: #fec577 !important;
	color: #53573c !important;
}

.BAJA,.DEBAJA,.BLOQUEADO {
	background-color: #842781 !important;
	color: white !important;
}

.PERDIDA {
	background-color: #ffd2b6 !important;
	font-weight: bold;
	color: #53573c !important;
}

.CONFIGURAR {
	background-color: #e3401b !important;
	font-weight: bold !important;
}

.CONTADOR {
	background-color: #ffeb68 !important;
	color: black !important;
	font-weight: bold !important;
}

.ERROR {
	background-color: #ff798b !important;
	border-right: 1px solid #ec5267 !important;
	border-bottom: 1px solid #ec5267 !important;
	font-weight: bold !important;
}
/**/
#user_preview {
	background-color: #202020;
	border-radius: 10px;
	color: #0099ff !important;
	opacity: 0;
	position: fixed;
	right: 5px;
	top: 30px;
	width: 320px;
}
/**/
.subtitle {
	color: #7e7e7e;
	font-size: 12px;
	font-weight: bold;
}

#drag_desc {
	background-color: white;
	color: #393C3E;
	font-size: 13px;
	font-weight: bold !important;
	padding: 5px;
	position: absolute;
	border: 1px solid #ccc;
	text-align: center;
	opacity: 0;
	width: 170px !important;
	cursor: url(images/cursor-closedhand.png), auto !important;
	z-index: 3000 !important;
}
/**/
.checkdiv {
	background-color: #fafafa;
	border: 1px solid #828586;
	height: 13px !important;
	margin-top: 5px;
	margin-left: 10px !important;
	margin-right: 10px !important;
	padding: 0px !important;
	width: 13px !important;
}

.checkdiv:active {
	border: 1px solid #00ADFC;
	background-color: #f1f1f1;
}

.checkdiv-selected {
	background-color: #f1f1f1;
	background-image: url(images/checkmark.png);
	background-position: -5px -4px;
	border: 1px solid #828586;
	height: 13px !important;
	margin-top: 5px;
	margin-left: 10px !important;
	margin-right: 10px !important;
	padding: 0px !important;
	width: 13px !important;
	-ms-transition: border 0.3s ease;
	-webkit-transition: border 0.3s ease;
	-moz-transition: border 0.3s ease;
	-o-transition: border 0.3s ease;
}

.checkdiv-selected:hover {
	border: 1px solid #00ADFC;
}

.checkdiv-delete {
	background-color: #f1f1f1;
	background-image: url(images/icon-sprite.png);
	background-repeat: no-repeat;
	background-position: -141px -121px;
	border: 1px solid #828586;
	height: 13px;
	width: 13px;
	-ms-transition: border 0.3s ease;
	-webkit-transition: border 0.3s ease;
	-moz-transition: border 0.3s ease;
	-o-transition: border 0.3s ease;
}

.checkdiv-delete:hover {
	border: 1px solid #00ADFC;
}

.checkdiv-delete:active {
	background-position: -121px -121px;
}

#drag_panel {
	background-color: #F1F2F2;
	bottom: 0px;
	height: 160px;
	position: fixed;
	width: 100%;
	z-index: 1000;
	-ms-transition: border 0.2s ease;
	-webkit-transition: border 0.2s ease;
	-moz-transition: border 0.2s ease;
	-o-transition: border 0.2s ease;
}

#drag_panel>div {
	display: block;
}

#drag_panel>#drag_titulo {
	color: #232323;
	cursor: pointer;
	font-size: 16px;
	padding: 5px;
	text-align: center;
}

#drag_panel>#drag_estados_panel {
	background-color: transparent;
	padding-top: 20px;
	text-align: center;
}

#drag_panel>#drag_estados_panel>div {
	display: inline-table;
}

#drag_panel>#drag_titulo>#drag_btn_esconder {
	background-color: transparent;
	background-image: url(images/up-down-sprite.png);
	background-repeat: no-repeat;
	border: none;
	color: #D22727;
	font-size: 13px;
	display: inline-block;
	height: 22px;
	padding-left: 20px;
	margin: 0px 3px -5px 3px !important;
	-ms-transition: 0.8s;
	-webkit-transition: 0.8s;
	-moz-transition: 0.8s;
	-o-transition: 0.8s;
}

#drag_panel>#drag_titulo>#drag_btn_esconder:hover {
	color: #D22749;
	text-decoration: underline;
}

#drag_btn_esconder.mostrar {
	background-position: 0px -22px;
}

.gplusgroup_content {
	background-image: linear-gradient(bottom, #D8D8D8 11%, #ECECEC 56%);
	background-image: -o-linear-gradient(bottom, #D8D8D8 11%, #ECECEC 56%);
	background-image: -moz-linear-gradient(bottom, #D8D8D8 11%, #ECECEC 56%);
	background-image: -webkit-linear-gradient(bottom, #D8D8D8 11%, #ECECEC 56%);
	background-image: -ms-linear-gradient(bottom, #D8D8D8 11%, #ECECEC 56%);
	background-position: center;
	background-repeat: no-repeat;
	border: 1px solid #ccc;
	border-radius: 50%;
	height: 90px;
	position: relative;
	text-align: center;
	margin-left: 15px;
	margin-right: 15px;
	width: 90px;
	-ms-transition: .2s;
	-webkit-transition: .2s;
	-moz-transition: .2s;
	-o-transition: .2s;
}

.gplusgroup_content:hover,.gplusgroup_content_hover {
	background-repeat: no-repeat;
	border-radius: 60px !important;
	-moz-transform: scale(1.3);
	-ms-transform: scale(1.3);
	-o-transform: scale(1.3);
	-webkit-transform: scale(1.3);
}

.gplusgroup_content:hover {
	border: 1px solid #c0c0c0 !important;
}

.gplusgroup_content_hover {
	border: 1px solid #50A5DD !important;
}

.gplusgroup_content>div {
	background-color: #FF4234;
	border: 1px solid #ccc;
	border-radius: 50%;
	color: white;
	cursor: pointer !important;
	font-size: 13px;
	font-weight: bold;
	height: 45px;
	margin: 0 auto;
	margin-top: 9px;
	padding-top: 25px;
	width: 70px;
	letter-spacing: 0.1em;
	-ms-transition: .2s;
	-webkit-transition: .2s;
	-moz-transition: .2s;
	-o-transition: .2s;
}

.gplusgroup_content:hover>div,.gplusgroup_content_hover>div {
	-moz-transform: scale(0.8);
	-ms-transform: scale(0.8);
	-o-transform: scale(0.8);
	-webkit-transform: scale(0.8);
}

.gplusgroup_content>#gplusbackup {
	background-color: #F3F3F3;
	color: #848484;
}

.gplusgroup_content>#gplusactiva {
	background-color: #72C802;
	background-image: -webkit-linear-gradient(top, #02c702, #029d02);
	background-image: -moz-linear-gradient(top, #02c702, #029d02);
	background-image: -ms-linear-gradient(top, #02c702, #029d02);
	background-image: -o-linear-gradient(top, #02c702, #029d02);
	background-image: linear-gradient(top, #02c702, #029d02);
}

#pulse-button {
	width: 200px;
	color: white;
	text-align: center;
	display: block;
	border: 1px solid transparent;
	margin: 2em auto;
	font-size: 150%;
	background-color: red;
	background-image: -moz-linear-gradient(transparent, rgba(0, 0, 0, .5) );
	background-image: -ms-linear-gradient(transparent, rgba(0, 0, 0, .5) );
	background-image: -o-linear-gradient(transparent, rgba(0, 0, 0, .5) );
	background-image: -webkit-linear-gradient(transparent, rgba(0, 0, 0, .5)
		);
	background-origin: border-box;
	text-shadow: inherit;
	cursor: pointer;
	border-radius: .4em;
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	-webkit-transform: scale(1);
	transform: scale(1);
	-moz-transition: .3s;
	-webkit-transition: .3s;
	-ms-transition: .3s;
	-o-transition: .3s;
}

#pulse-button:hover {
	-moz-transform: scale(1.3);
	-ms-transform: scale(1.3);
	-o-transform: scale(1.3);
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}
/**/
#g_added {
	border-radius: 100px;
	color: white;
	font-weight: bold;
	letter-spacing: -0.08em;
	opacity: 0;
	padding: 6px 0px 6px 0px;
	position: fixed;
	width: 31px;
	z-index: 3000;
	background-image: -webkit-linear-gradient(top, #02c702, #029d02);
	background-image: -moz-linear-gradient(top, #02c702, #029d02);
	background-image: -ms-linear-gradient(top, #02c702, #029d02);
	background-image: -o-linear-gradient(top, #02c702, #029d02);
	background-image: linear-gradient(top, #02c702, #029d02);
}

#accordion {
	margin: 20px 0 0;
	max-width: 400px;
}

#accordion>h2 {
	background-color: #ECECEC;
	color: #2f2f2f;
	cursor: pointer;
	font: 14px Helvetica, Arial, sans-serif;
	font-weight: bold;
	line-height: 16px;
	margin: 0 0 0px 0;
	padding: 5px;
}

#accordion>h2:hover {
	color: #555555;
	text-decoration: underline;
	cursor: pointer;
}

#accordion>h2>div {
	float: right;
	margin-left: 15px;
}

#accordion>.content {
	background-color: #fcfcfc;
	color: #2f2f2f;
	font-size: 13px;
	font-weight: bold;
	margin-bottom: 2px;
	padding-bottom: 30px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

#accordion>.content>h2 {
	font-size: 14px;
	padding: 3px 5px 3px 10px;
}

#accordion>.content>h2:hover {
	color: #0096DB;
	text-decoration: underline;
	cursor: pointer;
}

#accordion>.content>h2>* {
	display: inline-block;
	float: right;
}

#accordion>.content>div.desc {
	background-color: #FFF7D8;
	border-radius: 5px;
	border: 1px solid #ccc !important;
	color: #232323;
	font-weight: normal;
	padding: 5px 5px 5px 5px;
	margin: 0px 5px 0px 5px;
}

#accordion>.content>div.desc:first-letter {
	text-transform: uppercase;
}

#accordion>.content>div.desc>a {
	color: #C700BD;
	cursor: pointer;
	font-size: 12px;
	margin-left: 5px;
	text-decoration: underline;
}

#accordion>.content>h2:first-letter {
	text-transform: uppercase;
}

#accordion>.content>p {
	margin: 0.5em 0;
	padding: 0 6px 8px 6px;
}

#contenedor_paginador {
	background-color: white;
	border: 1px solid #ccc;
	left: 0px;
	padding: 10px 20px 0px 20px;
	position: fixed;
	width: 400px;
	z-index: 1000;
}

#contenedor_paginador>#ocultar {
	background-image: url(images/sprite_black2.png);
	background-repeat: no-repeat;
	background-position: -21px -21px;
	cursor: pointer;
	float: right;
	height: 20px;
	margin-right: -20px;
	padding: 0px;
	width: 20px;
}

#contenedor_paginador>div {
	display: block;
	padding: 5px;
	text-align: center;
}

#contenedor_paginador_titulo {
	color: #FF5C4D;
	font-weight: bold;
}

#contenedor_paginador_pie {
	font-size: 12px;
}

#contenedor_paginador_lista>div {
	border: 1px solid #ccc;
	border-radius: 3px;
	cursor: default;
	display: block;
	margin: 2px;
	-ms-transition: background 0.3s ease;
	-webkit-transition: background 0.3s ease;
	-moz-transition: background 0.3s ease;
	-o-transition: background 0.3s ease;
	-ms-transition: margin-left 0.3s ease;
	-webkit-transition: margin-left 0.3s ease;
	-moz-transition: margin-left 0.3s ease;
	-o-transition: margin-left 0.3s ease;
}

#contenedor_paginador_lista>div:hover {
	background-color: #F0FCFF;
	border: 1px solid #A6E2F5;
	margin-left: 15px;
}

#contenedor_paginador_lista>div>div {
	display: inline-table;
	margin-left: -3px !important;
	margin-right: -3px !important;
	padding: 2px 0px 2px 0px;
}

#contenedor_paginador_lista>div>.div_chk {
	padding-bottom: 20px;
	width: 15%;
}

#contenedor_paginador_lista>div>.div_chk>div {
	margin: 0 auto;
}

#contenedor_paginador_lista>div>.contenedor_datos_mfp {
	font-size: 11px;
	width: 84%;
}

#contenedor_paginador_lista>div>.contenedor_datos_mfp>.modelo {
	font-size: 13px;
	font-weight: bold;
}

#contenedor_paginador_lista>div>.contenedor_datos_mfp>.hh {
	color: #CD004F;
}

#contenedor_paginador_flechas>div {
	background-image: url(images/sprite_black2.png);
	background-repeat: no-repeat;
	border: 1px solid #ccc;
	display: inline-block;
	height: 25px;
	opacity: 0.7;
	width: 25px;
}

#contenedor_paginador_flechas>div:hover {
	opacity: 1;
}

#contenedor_paginador_flechas>div#contenedor_paginador_flechas_izq {
	background-position: -19px -19px;
}

#contenedor_paginador_flechas>div#contenedor_paginador_flechas_der {
	background-position: -40px -19px;
}

.editable {
	border: 1px solid #6699cc !important;
}

.editable_txt {
	border: 1px solid #ffffff !important;
}

.editable_txt:focus {
	border: 1px solid #ffffff !important;
}

.totales_tr>td {
	border-top: 1px solid #ccc !important;
}

#td_cont > div {
	display: block;
}

.boton_con_icono {
	background-color: #f5f5f5;
	border: 1px solid #ccc;
	border-radius: 2px;
	cursor: default;
	color: #403F3F !important;
	font-size: 11px !important;
	letter-spacing: 0.07em;
	margin: 0px 5px 5px 5px;
	padding: 0px 5px 0px 5px;
	height: 25px;
	width: auto;
}

.boton_con_icono:hover {
	box-shadow: 0px 0px 3px #ccc;
	-ms-box-shadow: 0px 0px 3px #ccc;
	-webkit-box-shadow: 0px 0px 3px #ccc;
	-moz-box-shadow: 0px 0px 3px #ccc;
}

.boton_con_icono>* {
	display: inline-block;
	border: 1px solid red;
	margin: 0px;
	margin-left: 3px;
	height: 16px !important;
	width: 16px;
}

#profile {
	background-color: #505050;
	position: fixed;
	width: 100%;
	/*   top: 28px;*/
	z-index: 4000;
}

#contenedor_form_profile {
	height: 70%;
	margin-left: 20%;
	margin-top: 5%;
	width: 60%;
}

#ocultar_profile {
	color: white;
	left: 48%;
	font-weight: bold;
	cursor: pointer;
	text-decoration: underline;
	position: fixed;
	width: auto;
	bottom: 5%;
	opacity: 0;
	z-index: 4500;
}

#tabla_perfil {
	color: white;
	padding: 10px;
	margin: 0 auto;
}

#tabla_perfil>tr>td>* {
	display: inline-block;
}

#tabla_perfil>tr>td>input {
	background-color: transparent;
	color: white;
	border: 1px solid transparent;
}

.busqueda_central * {
	border-spacing: 0px;
	margin: 0px;
}

#busqueda_central {
	background-color: white;
	border: 1px solid #ccc;
	padding-left: 3px;
	margin: 0px !important;
	margin-left: 20px;
	width: 500px;
	display: inline-block;
}

#busqueda_central * {
	border-spacing: 0px;
	margin: 0px;
}

#txtBuscarUsuario {
	height: 30px;
	width: 300px;
	-ms-transition: .4s ease;
	-webkit-transition: .4s ease;
	-moz-transition: .4s ease;
	-o-transition: .4s ease;
}

#txtBuscarUsuario:focus {
	width: 400px;
}

#txtBusquedaCentral,#txtBusquedaCentral:hover
#txtBusquedaCentral:focus {
	font-size: 14px;
	width: 470px;
	padding-top: 3px;
	border: 1px solid transparent !important;
}

#busqueda_central #mostrar_mas_campos {
	background-image: url(images/icon-sprite.png);
	background-position: -116px 14px;
	background-repeat: no-repeat;
	border: 1px solid transparent !important;
	width: 25px;
}

#contenedor_mas_busquedas {
	background-color: white;
	border: 1px solid #ccc;
	padding: 30px 10px 5px 10px;
	font-size: 15px;
	position: fixed;
	width: 484px;
	display: none;
	z-index: 3000;
	position: absolute;
	top: 74px;
	left: 12px;
	text-align: left !important;
}

#contenedor_mas_busquedas>table>tbody>tr>td {
	text-align: left !important;
}

#contenedor_mas_busquedas input[type=text] {
	width: 98%;
}

#txtBusquedaCentral {
	height: 25px !important;
}
/*#contenedor_grupos > div.clicked {
    border-left: 2px solid #ef4135;
    color: #ef4135;
    font-weight: bold;
}
#contenedor_grupos > div.hover {
    background-color: #63abf7;
    background-image: -webkit-linear-gradient(top,#63abf7,#5e99cd);
    background-image: -moz-linear-gradient(top,#63abf7,#5e99cd);
    background-image: -ms-linear-gradient(top,#63abf7,#5e99cd);
    background-image: -o-linear-gradient(top,#63abf7,#5e99cd);
    background-image: linear-gradient(top,#63abf7,#5e99cd);
}
#contenedor_grupos > div:hover {
    background-color: #232323;
    color: white;
}
.nuevo_grupo {
    color: #247AD0;
    text-decoration: underline;
}*/
.separador_horizontal {
	border-top: 2px dashed #ccc;
	padding: 10px 10px !important;
	font-weight: bold;
}

.separador_horizontal:hover {
	background-color: white !important;
}

#titulo_grupo {
	font-weight: bold !important;
	cursor: default !important;
}

#titulo_grupo:hover {
	background-color: transparent !important;
}

/* MOODIALOG   */
/* Created by Arian Stolwijk <http://www.aryweb.nl> */
.MooDialog {
	color: #626464 !important;
	border: 2px solid #ccc;
	width: 300px;
	position: fixed;
	margin: -150px 0 0 -150px;
	top: 60%;
	left: 50%;
	z-index: 50000;
	background-color: white;
	color: black;
	text-transform: uppercase;
	padding: 20px 10px;
	box-shadow: 0px 0px 20px #d3d3d3;
	font-size: 14px;
	-ms-box-shadow: 0px 0px 20px #d3d3d3;
	-webkit-box-shadow: 0px 0px 20px #d3d3d3;
	-moz-box-shadow: 0px 0px 20px #d3d3d3;
	-o-box-shadow: 0px 0px 20px #d3d3d3;
}

.MooDialogTitle {
	padding-top: 30px;
}

.MooDialog .content { /*	height: 100px;*/
	
}

.MooDialog .title {
	background-color: #ececec;
	background-image: -webkit-linear-gradient(top, #fbfbfb, #e4e4e4);
	background-image: -moz-linear-gradient(top, #fbfbfb, #e4e4e4);
	background-image: -ms-linear-gradient(top, #fbfbfb, #e4e4e4);
	background-image: -o-linear-gradient(top, #fbfbfb, #e4e4e4);
	background-image: linear-gradient(top, #fbfbfb, #e4e4e4);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	padding: 3px 20px;
	border-bottom: 1px solid #a1aec5;
	color: #626464 !important;
	font-weight: bold;
}

.MooDialog .close {
	border-radius: 15px;
	background-image: url(images/modal-close.png);
	background-position: 2px -1px;
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	display: block;
	cursor: pointer;
	top: 5px;
	right: 10px;
	position: absolute;
}

.MooDialog .close:hover {
	background-position: 2px -21px;
}

.MooDialog .buttons {
	text-align: right;
	margin: 0;
	padding: 0;
	border: 0;
	background: none;
}

.MooDialog .iframe {
	width: 100%;
	height: 100%;
}

.MooDialog .textInput {
	width: 200px;
	float: left;
}

.MooDialog .MooDialogAlert,.MooDialog .MooDialogConfirm,.MooDialog .MooDialogPrompt,.MooDialog .MooDialogError
	{
	background: url(images/dialog-warning.png) no-repeat;
	padding-left: 40px;
	padding-top: 10px;
	min-height: 40px;;
	text-align: justify;
}

.MooDialog .MooDialogConfirm,.MooDialog .MooDialogPromt {
	background: url(images/dialog-question.png) no-repeat;
}

.MooDialog .MooDialogError {
	background: url(images/favicon.png) no-repeat;
}

.myDialog {
	margin: -200px 0 0 -350px;
	width: 700px;
	height: 300px;
}

.myDialog iframe {
	width: 700px;
	height: 300px;
}

.MooDialog [type=submit],
.MooDialog [type=button] {
	/*color: #707070;
	text-shadow: 0 1px 1px #fff;
	border: 1px solid #ccc;
	border-bottom: 1px solid #c0c0c0;
	cursor: pointer;
	font-family: Arial;
	border-radius: 2px;*/
	margin-left: 5px;
}

/*.MooDialog [value="Aceptar"] {
	color: #fff;
	border: 1px solid #b0281a;
	background-color: #83af31;
	background-image: -webkit-linear-gradient(top, #dc4a38, #c53727);
	background-image: -moz-linear-gradient(top, #dc4a38, #c53727);
	background-image: -ms-linear-gradient(top, #dc4a38, #c53727);
	background-image: -o-linear-gradient(top, #dc4a38, #c53727);
	background-image: linear-gradient(top, #dc4a38, #c53727);
}*/

.add_atributo {
	background-color: #4D90FE;
	background-image: url(images/add.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 13px;
	border: 1px solid #337DF4;
	border-radius: 3px;
	cursor: pointer;
	display: inline-block;
	height: 20px;
	margin-left: 10px;
	width: 20px;
}

.aceptar_add-atributo {
	
}

.otro_atrobuto {
	display: none;
}

.click_login_name {
	background-color: #E60045;
	border-radius: 3px;
	color: white;
	text-decoration: none;
	padding: 3px;
}

.click_login_name:hover {
	background-color: #FF2B6B;
}

.boton_colorado {
	border: 1px solid tomato !important;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	color: white;
	cursor: pointer !important;
	display: inline-block;
	font-family: arial, sans-serif;
	font-size: 13px;
	font-weight: bold;
	line-height: 1.54;
	padding: 7px 12px;
	text-align: center;
	width: auto !important;
	background-color: #ff555d !important;
}

.botones_acciones,.botones {
	background-color: #f5f5f5;
	background-image: none !important;
	border: 1px solid #ccc;
	border-radius: 2px;
	cursor: pointer;
	color: #403F3F !important;
	display: inline;
	font-size: 11px !important;
	font-weight: bold;
	letter-spacing: 0.07em;
	margin: 0px 5px 0px 5px;
	padding: 6px;
	width: auto;
}

.botones:hover,.botones_acciones:hover {
	box-shadow: 0px 0px 3px #ccc;
	-ms-box-shadow: 0px 0px 3px #ccc;
	-webkit-box-shadow: 0px 0px 3px #ccc;
	-moz-box-shadow: 0px 0px 3px #ccc;
}
#contenedor_combobox {
	z-index: 500;
}
.comboboxdata {
	background-color: #fafafa;
	border: 1px solid #ccc;
	height: 0px;
	height: 27px;
	position: initial;
	margin-right: 5px;
}

.comboboxoption>div:first-child {
	display: blocK;
	position: relative;
}

.comboboxoption:hover>div:first-child {
	color: white;
}

.comboboxoption>div {
	display: none;
	position: absolute;
}

.comboboxoption>div:nth-child(1) {
	/*border: 2px solid green  !important;*/
	
}

.comboboxoption>div:nth-child(2) {
	background-color: white;
	border: 1px solid #ccc !important;
	position: absolute;
}

.comboboxoption>div:nth-child(2) {
	background-color: white;
	border: 1px solid #ccc !important;
	position: absolute;
}

.comboboxoption>div:nth-child(2)>div {
	background-color: white;
	border: 1px solid transparent;
	padding: 3px 15px 3px 15px;
	font-weight: normal;
	font-size: 13px !important;
	color: #7e7e7e;
	-ms-transition: background-color .3s;
	-moz-transition: background-color .3s;
	-webkit-transition: background-color .3s;
	-o-transition: background-color .3s;
}

.comboboxoption>div:nth-child(2)>div:hover {
	cursor: pointer;
	color: white;
	border: 1px solid #3079ed;
	background-color: #4D90FE;
}

.comboboxdata:hover {
	height: auto;
	padding-bottom: 0px;
}

.comboboxdata:hover>div {
	position: static;
	visibility: visible;
}

.comboboxdata>div {
	background-color: white;
	text-transform: capitalize;
	border: 1px solid transparent;
	padding: 3px 15px 3px 15px;
	font-weight: normal;
	font-size: 12px !important;
	color: #7e7e7e;
	visibility: hidden;
	-ms-transition: background-color .3s;
	-moz-transition: background-color .3s;
	-webkit-transition: background-color .3s;
	-o-transition: background-color .3s;
	text-align: left !important;
	z-index: 7000;
}

.comboboxdata>div:hover {
	cursor: pointer;
	color: white;
	border: 1px solid #3079ed;
	background-color: #4D90FE;
}

.comboboxdata:hover>div:first-child {
	background-color: #4D90FE;
	border-bottom: 1px solid #ccc;
	color: white !important;
}

.comboboxdata>div:first-child {
	background-image: url(images/arrow_down.png);
	background-repeat: no-repeat;
	background-position: right;
	background-position: 95%;
	background-color: transparent;
	border: 1px solid transparent !important;
	/*margin-top: -19px  !important;*/
	position: static;
	padding-bottom: 6px;
	padding-top: 7px;
	font-size: 12px !important;
	font-weight: bold;
	visibility: visible;
}

.comboboxdata>div:first-child:hover {
	background-color: #4D90FE;
	border: 1px solid transparent;
	border-bottom: 1px solid #ccc;
	color: white;
}

.comboboxdata>div:first-child:first-letter {
	text-transform: uppercase !important;
}

.comboboxdata>div:last-child {
	border-top: 1px solid #ccc;
	padding-bottom: 10px;
}

/*
::selection {
    background: transparent;
}

::-moz-selection {
    background-color: transparent;
}*/
.expanded_td>div {
	
}

.expanded_td>div>div:nth-child(3) {
	font-weight: bold !important;
	color: #4B8F0C;
	margin-top: -40px;
	opacity: 0;
}

.cuenta {
	background-image:
		url(images/profile_completion-cf75556b844f886dc7524db4735b5826.png);
	background-position: -178px -43px;
	height: 44px;
	width: 44px;
	border: 2px solid #ccc;
	padding: 0px;
	border-radius: 80px;
	display: block;
}

.cuenta:hover {
	background-color: #ECF9FF;
	cursor: pointer;
	border: 2px solid #4D90FE;
	position: relative;
}

div.editar_cuenta {
	background-color: white;
	background-image: url(images/sg-3ec0d080da1e57fde5643bf778db925d.png);
	background-position: -460px 1px;
	cursor: pointer;
	/*float: right;*/
	/*border:  1px solid #4D90FE;*/
	/*border-radius: 15px;*/
	height: 15px;
	width: 15px;
	/*margin-right: -15px;
    margin-top: -15px;*/
	opacity: 1;
}

.atributo {
	border: 1px solid #ccc;
	padding: 3px;
}

.atributo>div {
	background-color: white;
	border: 1px solid #ccc;
	padding: 3px;
	font-weight: bold;
}

.InfoCuenta {
	border: 1px solid #ccc;
	background-color: white;
	padding: 10px 5px;
	position: absolute;
	cursor: default;
	width: 200px;
	opacity: 0;
	z-index: 3000;
	box-shadow: 0px 0px 20px #ccc;
	-o-box-shadow: 0px 0px 20px #ccc;
	-ms-box-shadow: 0px 0px 20px #ccc;
	-moz-box-shadow: 0px 0px 20px #ccc;
	-webkit-box-shadow: 0px 0px 20px #ccc;
}

.InfoCuenta:hover>*:first-child {
	text-decoration: underline;
}

.InfoCuenta>*:first-child {
	background-color: #427fed;
	color: white;
	font-size: 17px;
	margin: -10px -5px 10px -5px !important;
	padding: 30px 5px 5px 5px;
	text-transform: capitalize !important;
}

.InfoCuenta>*:nth-child(2) {
	font-weight: bold;
}

.InfoCuenta>* {
	padding: 5px 0px 5px 0px;
	color: #999;
	font-size: 13px;
	text-align: center !important;
	display: block;
	margin: 0 auto !important;
}

.InfoCuenta>a {
	text-decoration: underline;
}

.InfoCuenta>a:hover {
	color: #4D90FE;
}

#toner_negro,#toner_magenta,#toner_cian,#toner_yellow {
	background-image: url(images/toner.png);
	background-repeat: no-repeat;
	font-size: 10px;
	font-weight: bold;
	color: #232323;
	padding: 2px !important;
	margin-top: 3px;
	margin-bottom: 3px;
}

#toner_negro {
	background-position: 50px 1px;
}

#toner_magenta {
	background-position: 50px -14px;
}

#toner_cian {
	background-position: 50px -29px;
}

#toner_yellow {
	background-position: 50px -44px;
}

.inputXL {
	height: 30px;
	width: 300px;
	text-transform: capitalize;
}

.autocompletar { /*text-transform: uppercase;*/
	
}

.autocompletar_buscando {
	background-image: url(images/buscando.gif);
	background-repeat: no-repeat;
	background-position: right;
}

.contenedor_autocompletar { /*height: 100px;*/
	background-color: white;
	border: 1px solid #ccc;
	position: absolute;
	display: none;
}

.contenedor_autocompletar>* {
	font-size: 12px;
	padding: 5px 10px;
}

.contenedor_autocompletar>*:hover {
	background-color: #f8f8f8;
}

.contenedor_autocompletar>*>b {
	font-weight: bold;
}

.current {
	background-color: #f8f8f8;
}

#contenedor_mfp,#contenedor_usuarios {
	border: 1px solid #ccc;
	background-color: #ffffff;
	padding-top: 5%;
	position: fixed;
	top: 0px;
	height:	90%;
	width: 25%;
}

#contenedor_mfp>input[type=text],#contenedor_usuarios>input[type=text] {
	margin-left: 5px;
}

#contenedor_mfp:hover,#contenedor_usuarios:hover {
	
}

#contenedor_usuarios {
	left: 0px;
}

#contenedor_mfp {
	right: 0px;
}

#contenedor_mfp>div#contenedor_grupos_mfp,#contenedor_usuarios>div#contenedor_grupos
	{
	padding: 0px 0px 0px 0px;
}

#contenedor_mfp>div#contenedor_grupos_mfp>div,#contenedor_usuarios>div#contenedor_grupos>div
	{
	padding: 0px 0px 0px 0px;
}

#contenedor_mfp>div#contenedor_grupos_mfp:hover,#contenedor_usuarios>div#contenedor_grupos:hover
	{
	background-color: #ffffff;
}

#contenedor_mfp>div#contenedor_grupos_mfp>div,#contenedor_usuarios>div#contenedor_grupos>div
	{
	padding: 3px 10px;
}

#contenedor_mfp>div,#contenedor_usuarios>div {
	cursor: pointer;
	border-left: 2px solid transparent;
	font-size: 15px;
	text-transform: capitalize;
	padding: 3px 20px 3px 20px;
	width: auto;
}

#contenedor_mfp>div:hover,#contenedor_usuarios>div:hover {
	background-color: #f8f8f8;
	border-left: 2px solid #ccc;
}

.grupo-usuario-selected,.grupo-mfp-selected,.mfp-selected,.usuario-selected
	{
	background-color: #d6e6ff !important;
	border-left: 2px solid #2D7EFF !important;
	
}

#asignar_usuarios_mfp {
	border-radius: 100px;
	border: 5px solid transparent;
	background-color: #2D7EFF;
	font-weight: bold;
	color: white;
	cursor: pointer;
	font-size: 12px;
	padding: 25px 10px;
	top: 30%;
	right: 400px;
	position: fixed;
	opacity: 0;
	-ms-transition: 0.3s;
	-moz-transition: 0.3s;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
}

#asignar_usuarios_mfp:hover {
	border: 5px solid #ffffff;
}

.usuario_asignado {
	background-image:
		url(images/ribbon-nav-showroom-1387f3103331bf50aaa13250961a9b2f.png);
	background-position: -15px -60px;
	height: 22px;
	width: 22px;
	position: absolute;
}

#contenedor_central {
	padding: 10px;
	background-color: white;
	border: 1px solid #ccc;
	position: fixed;
	width: 45%;
	top: 100px;
	margin-left: 27%;
}

.cntConfiguracion {
	padding: 10px 0px;
	display: none;
	margin-top: -4.6px !important;
}

.cntConfiguracion>tbody>tr {
	
}

.cntConfiguracion>tbody>tr>td {
	text-align: left !important;
}

.cntConfiguracion>tbody>tr>td:first-child {
	padding-left: 30px;
}

.cntConfiguracion>tbody>tr>td>b,.cntConfiguracion>tbody>tr>td>div {
	text-align: left !important;
}

.cxcto { /*width: 90% !important;*/
	
}

#LDAP_request>div {
	background-color: #fafafa;
	border: 1px solid #ccc;
	display: inline-table;
	margin: 3px;
	padding: 5px;
	width: auto;
}

#LDAP_request>div:hover {
	background-color: #E9FBFF;
	border: 1px solid #5C94A6;
	color: #125166;
	cursor: pointer;
	text-decoration: underline;
}

.ip_address {
	border: 1px solid #ccc;
	padding: 5px;
	width: 300px;
	margin: 3px;
}
/**/
#div_transparente {
	background-color: white;
	border: 1px solid red;
	height: 100%;
	width: 100%;
	opacity: 0;
	display: none;
	position: fixed;
	left: 0px;
	top: 0px;
	z-index: 2000;
}
/**/
#frmEditMfpTable {
	background-color: white;
	height: 90%;
	width: 80%;
	position: fixed;
	left: 10%;
	top: 5%;
	border: 1px solid #ccc;
	border-spacing: 1px;
	z-index: 6000;
	display: none;
}

#frmEditMfpTable>div {
	width: 100% !important;
}

#frmEditMfpTable>div:first-child {
	padding: 20px 0px 0px 20px;
}

#frmEditMfpTable>div:last-child {
	padding: 20px 0px 20px 20px;
}

.contenedor_infomfp {
	height: 65%;
	background-color: #EFEFEE;
	padding-top: 5%;
	display: none;
}

.contenedor_infomfp>table {
	margin: 0 auto;
}

#frmEditMfpTableBlack {
	background-color: #404041;
	color: #fafafa;
	font-weight: bold;
}

#frmEditMfpTableMagenta {
	background-color: #DF3F92;
	color: #fafafa;
	font-weight: bold;
}

#frmEditMfpTableCian {
	background-color: #3FB5DF;
	color: #fafafa;
	font-weight: bold;
}

#frmEditMfpTableYellow {
	background-color: yellow;
	color: #404041;
	font-weight: bold;
}

.toner_vacio {
	background-color: white;
	border: 2px solid red;
	color: red;
}

*[disabled] {
	opacity: 0.8;
}

#fraMe {
	border: 1px solid #ccc;
	width: 100%;
	visibility: hidden;
}

#BG000100200 {
	background-color: black;
	height: 100%;
	width: 100%;
	position: fixed;
	left: 0px;
	top: 0px;
	opacity: 0;
}

.gravedad_1 {
	background-color: white;
	border: 4px solid #ef4135;
	border-radius: 30px;
	color: #ef4135;
	font-size: 15px;
	font-weight: bold;
	padding: 3px 0px;
	width: 23px;
	text-align: center !important;
}

.gravedad_2 {
	background-color: white;
	border: 4px solid #FF804E;
	border-radius: 30px;
	color: #FF804E;
	font-size: 15px;
	font-weight: bold;
	padding: 3px 0px;
	width: 23px;
	text-align: center !important;
}

.gravedad_3 {
	background-color: white;
	border: 4px solid #F2C900;
	border-radius: 30px;
	color: #D6B600;
	font-size: 15px;
	font-weight: bold;
	padding: 3px 0px;
	width: 23px;
	text-align: center !important;
}
.validate-integer ,
.validate-hour ,
.validate-numeric {
	width: 50px !important;
}

.frame_acceso_directo {
	bottom: 0px;
	display: none;
	position: fixed;
	right: 0px;
	z-index: 5000;
}

.closeframecontent {
	background-color: #404041;
	border: 1px solid transparent;
	height: 30px;
	position: fixed;
	z-index: 5000;
}

.tab_superior_infomfp {
	background-color: transparent;
	border: 2px solid transparent;
	color: #ABABAB;
	font-size: 15px;
	padding-bottom: 20px;
	font-weight: normal;
}
.tab_superior_infomfp:hover {
	border-bottom: 2px solid #4D90FE;
	color: #404041;
}
.currentelement {
	border-bottom: 2px solid #db2c37 !important;
	color: #404041 !important;
	font-weight: bold;
}
.google_frame {
	overflow-x: auto;
	overflow-y: auto;
}
.google_frame::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}
.google_frame::-webkit-scrollbar-thumb {
	background-color: rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.10), inset 0 -1px 0
		rgba(0, 0, 0, 0.07);
}
.google_frame::-webkit-scrollbar-button {
	width: 0;
	height: 0;
	display: none;
}
.google_frame::-webkit-scrollbar-corner {
	background-color: transparent;
}
.google_frame>div {
	display: block;
}
.myframe {
	display:none;
}
.hide-page {
	background-color:	white;
	border:	1px solid #ccc;
	position: fixed;
	top: 10%;
	width: 28%;	
	margin-left:35%;
	display:	none;
	z-index: 7000;
}
.hide-page > *{
	margin-top:	0px	!important;
	border:	0px solid blue	!important;
	width: 100%;
}
.newframe {
	background-color: #404041;
	top: 10%;
	color:	white;
	text-align: left;
	font-size: 	13px;
	padding:7px 2%;
	width: 96%;
}
.closeframe {
	width: 16px;
	height: 16px;
	background-image:	url(images/icon-sprite.png);
	background-position: -40px -80px;
	cursor:	pointer;
	font-weight:	bold;
	float: right;
	
}
.botonpanel {
	width: 100%;
	padding: 5px 0px;
}
.botonpanel > *{
	display: inline-table;
}
.combo {
	padding-right: 20px;
	background-image: url(images/arrow_down.png)	!important;
	background-repeat: no-repeat;
	background-position: 93%;
}
.botonpanel > [type="button"]:first-child {
	margin-left:0px;
}
/*E8E8E8*/
.botonpanel > [type="button"] {
	background-color:	#fafafa;
	/*background-image: linear-gradient(top,#f5f5f5,#f1f1f1);
	background-image: -webkit-gradient(linear,left top,left bottom,from(#f5f5f5),to(#f1f1f1));
	background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);*/
	border-radius: 2px;
	color:	#444;
	margin-left:10px;
	font-size: 12px;
}
.botonpanel > [type="button"]:hover {
	border-color:	#c6c6c6;
}
.botonpanel > [type="button"].focus {
	background-color:	#E8E8E8	!important;
}
.contenedor_valores {
	background-color:	white;
	border:	1px solid #ccc;
	position: absolute;
	display:	none;
	max-height: 150px;
	padding-bottom: 10px;
	padding-top: 5px;
	min-width: 150px;
	z-index: 6000;
}
.contenedor_valores > *{
	cursor:	default;
	color:	#444;
	display: block;
	padding:	3px	30px 3px 10px;
	font-size: 12px;
}
.contenedor_valores > *:hover{
	background-color:	#EEEEEE;
}
.printserver {
	visibility:	hidden;
}
.required {
	background-image: url(images/red_asterisk.gif)	!important;
	background-repeat: no-repeat;
	background-position: 98% 2px;
	background-size: 10px;
}
#eliminar_grupo{
    background-image: url(images/modal-close.png);
    bakcground-color: 	transparent	!important;
    height: 14px;
    width: 14px;
    background-position: 0px -3px;
    margin-top: 5px;
    margin-left: 10px;
    padding: 0px	!important;
}
.seleccionado {
	background-color:	#FBF9D6;
	border:	2px dashed #ECE787;
	padding: 5px;
	color:	#444;
	margin: 3px;
	width: 150px;
}
.seleccionado > div{
	background-image: url(images/modal-close.png);
	background-repeat: no-repeat;
	background-position: 2px -1px;
	margin-top: -1px;
	cursor:	pointer;
	width: 16px;
	height: 16px;
	/*border:	1px solid #ccc;*/
	float: right;
}
#contenedor_atributos {
	background-color: #fafafa;
	border: 2px solid #ccc	!important;
	width: 70%;
	height: 80%;
	left: 15%;
	position: fixed;
	top: 10%;
	z-index: 8000;
	display: none;
}
/*#contenedor_atributos > input[type="button"]{
	position: absolute;
	float: right;
	right: -70px	!important;
}*/
#contenedor_atributos>div:last-child>input.btnCancelar {
	position: absolute;
	float: right;
	bottom: 0px;
	right:	0px;
	margin-bottom: 5px;
	margin-right: 5px;
}

#contenedor_atributos > div{
	background-color: #fafafa;
	border-right: 1px solid #ccc;
	width: 30%;
	height: 95%;
	display: inline-block	!important;
	padding: 2% 1% 1% 1%;
	font-size: 14px;
}

/*#contenedor_atributos > div:hover{
	background-color: white;
}*/
#contenedor_atributos>div:first-child {
	float: left;
}
#contenedor_atributos>div:last-child {
	float: right;
	border-right: 0px;
	width: 34%;
	margin-left: -10px;
}
#contenedor_atributos>div{
	text-align: right;
}
#contenedor_atributos>div>input{
	margin:4px;
}
#contenedor_atributos>div:nth-child(2){
	
}

#contenedor_atributos>div>p {
	text-align: center;
	background-color: #fafafa;
	position: fixed;
	float:right;
	padding: 5px;
	margin-top: -10px;
}

#contenedor_atributos>div>p:first-letter {
	font-weight: bold;
}

#contenedor_atributos>div:hover>div {
}
#contenedor_atributos > div > *:nth-child(2){
	margin-top: 20px	!important;
}
#contenedor_atributos>div>div {
	background-color: #f1f1f1 !important;
	color: #444;
	padding: 5px;
	margin-bottom: 2px;
	cursor: pointer;
	font-size: 12px;
}

#contenedor_atributos>div>div:hover {
	background-color: #4D90FE !important;
	color: #f1f1f1;
	font-weight: bold;
	text-decoration: underline;
}
#contenedor_log {
	background-color:	white;
	z-index: 7000;
	height: 80%;
	width: 60%;
	top: 10%;
	position: fixed;
	left: 20%;
}
#contenedor_log > div:first-child{
	background-color: #232323;
	color:	white;
	font-size: 18px;
	padding-left:	10px;
}
#contenedor_log > div{
	display: block;
	padding: 5px 10px;
	font-size: 13px;
	color: #444;
	border-top:	1px solid #ccc;
}
#contenedor_log > input{
	position: fixed;
	bottom: 10%;
	right: 20%;
	margin-bottom: 10px;
	margin-right: 10px;
	z-index: 8000;
}
#acceso_dr {
	background-image:	url(images/dreports.png);
	width:70px;
	height: 30px;
	background-position: 0px -5px;
	position: fixed;
	top:	5px;
	right: 80px;
	z-index: 10000;
	opacity: 0.7;
	cursor: pointer; 
}
#cargando {
	border: 1px solid #232323;
	padding: 10px;
	background: #444;
	color:	white;
	top: 10%;
	display:	none;
	left: 40%;
	position: fixed;
	z-index: 11000;
}
.alarma_obtener_usuarios {
	border:	1px solid #fafafa;
	background-image: url(images/user_warning.png);
	background-size: 100%;	
	width: 16px;
	height: 16px;
}
#contenedor_join_atributos {
	background-color: white;
	border: 5px solid #ccc;
	height: 70%;
	position: fixed;
	top: 10%;
	width: 90%;
	margin-left: 5%;
	z-index: 5000;
}

.contenedores {
	height: 70%;
	/*position: fixed;*/
}

#dr_att {
	width: 47%;
	float: left;
}
#dr_att > input{
	display: block;
}

#ad_att {
	width: 49%;
	float: right;
	border-left: 1px solid #ccc;
}

.contenedores>* {
	
}

#merge_atts {
	width: 100%;
	height: 30%;
	border-bottom: 1px solid #ccc;
}

#btn_cruzar_atributos {
	position: absolute;
	bottom: 10px;
	right: 100px;
}
#btn_cerrar {
	position: absolute;
	bottom: 10px;
	right: 10px;
}

span {
	border: 1px solid #690242;
	background-color: #9B0F65;
	color: white;
	span-weight: bold;
	span-size: 14px;
	z-index: 5000;
	margin-top: -10px;
	padding: 5px;
	position: absolute;
	margin-left: 20px;
}