.content.cntnt-tb.c-mini {
	left:1%	!important;
	width: 93.4%	!important;
	top: 15%;
}
.c-mini > .tabla {
	overflow-x: hidden	!important;
	margin-top: 0px	!important;
}
.cntnt-tb.c-mini > div.message-label{
	margin-bottom: 0px;
/*	background-image: -webkit-linear-gradient(top, #428bca 0, #3278b3 100%);*/
/*	background-image: linear-gradient(to bottom, #428bca 0, #3278b3 100%);*/
	background-color: #ffffff;
/*	background-repeat: repeat-x;*/
	display:block;
	color: #232323;
	border: 1px solid #f1f1f1;
	border-bottom:1px solid #ccc;
	font-weight:200;
	font-size: 14px;
	letter-spacing:1px;
	width: 97%	!important;
	padding: 10px 0px 10px 3%;
}
.tabla>div.tcomentario {
	background-image: -webkit-linear-gradient(top, #d9edf7 0, #b9def0 100%);
	background-image: linear-gradient(to bottom, #d9edf7 0, #b9def0 100%);
	background-repeat: repeat-x;
	padding: 15px;
	margin-bottom: 10px;
	border: 1px solid #9acfea;
	color: #31708f;
	background-color: #d9edf7;
}
.tabla>div.tcomentario>input[type="button"] {
	float:right;
	margin-top: -8px;
}
.tabla {
	background-color:  #fafafa;
	width:	99%	!important;
/*	margin-top: 20px	!important;*/
/*	padding-bottom: 20px;*/
	border: 1px solid #f3f3f3;
}
.tabla>table {
	width:100%;
	margin: 0 auto;
	border-collapse: collapse;
}

.tabla>table>thead>tr{
	display:table-row;
}
.tabla>table>thead>tr>th[text="Activo"] {
	width: 50px	!important;
}
.tabla>table>thead>tr>th { /*	background-color: #EFF4F7;*/
	padding: 10px;
	/*	color: #3E91C8;*/ /*	font-weight: bold;*/ /*	font-size: 11px;*/
	/*	border-top: 1px solid #3E91C8;*/
	/*	border-bottom: 1px solid #3E91C8;*/ /*	text-transform: uppercase;*/
	text-align: left;
	text-shadow: 0 -1px 0 #3071a9;
	background-image: -webkit-linear-gradient(top, #428bca 0, #3278b3 100%);
	background-image: linear-gradient(to bottom, #428bca 0, #3278b3 100%);
	background-repeat: repeat-x;
	color: #ffffff;
	background-color: #428bca;
	font-weight: normal;
	text-transform: capitalize;
	border: 1px solid #428bca;
}
.tabla>table>thead>tr>th:last-child {
	text-align:	right;
}
.tabla>table>thead>tr>th:last-child >* {
	float:	right;
}
.tabla>table>tbody>tr{
	display:none;
}
.tabla>table>thead{
	overflow:hidden	!important;
}
/*MOBILE LIST*/
.tabla>table>tbody>tr>td >div.drow{
	text-align: left;
	width: 90%;
	float:left	!important;
}
.tabla>table>tbody>tr>td >div.drow > div{
	text-align: justify;
	display:inline-block;
	padding: 5px	!important;
}
.tabla>table>tbody>tr>td >div.drow > div:first-child{
	float: right;
	margin-right: 5px;
}
.tabla>table>tbody>tr>td >div.drow > div.lngtxtreg{
	font-size: 11px	!important;
	display:block;
}
/*CRITICO*/
.tabla>table>tbody>tr.critico>td{
	background-color: #FFEDED;
	color: #6E0000;
}
.tabla>table>tbody>tr.critico:hover>td{
	background-color: #FFDFDF;
}
.tabla>table>tbody>tr.critico.checked>td{
	background-color: #FFC8C8;
}
.tabla>table>tbody>tr.critico.checked:hover>td{
	background-color: #FFD1D1;
}
.tabla>table>tbody>tr.critico.checked>td:first-child{
	border-left: 8px solid #cc0000 !important;
}
.tabla>table>tbody>tr.critico.checked:hover>td:first-child{
	border-left: 8px solid #cc0000 !important;
}
/*POSITIVO*/
.tabla>table>tbody>tr.positivo>td{
	background-color: #E9FFE3;
	color: #157F00;
}
.tabla>table>tbody>tr.positivo:hover>td{
	background-color: #D4FFCA;
}
.tabla>table>tbody>tr.positivo.checked>td{
	background-color: #CCFFC0;
}
.tabla>table>tbody>tr.positivo.checked:hover>td{
	background-color: #C4FEB6;
}
.tabla>table>tbody>tr.positivo.checked>td:first-child{
	border-left: 8px solid #36C911 !important;
}
.tabla>table>tbody>tr.positivo.checked:hover>td:first-child{
	border-left: 8px solid #36C911 !important;
}
/*DISABLED*/
.tabla>table>tbody>tr.disabled>td{
	background-color: #EEEEEE;
	opacity: 0.5;
}
.tabla>table>tbody>tr.disabled:hover>td{
	background-color: #EEEEEE;
}
.tabla>table>tbody>tr.disabled.checked>td{
	background-color: #EEEEEE;
}
.tabla>table>tbody>tr.disabled.checked:hover>td{
	background-color: #EEEEEE;
}
.tabla>table>tbody>tr.disabled.checked>td:first-child{
	border-left: 8px solid #191919 !important;
}
.tabla>table>tbody>tr.disabled.checked:hover>td:first-child{
	border-left: 8px solid #191919	!important;
}
.tabla>table>tbody>tr.checked>td{
	background-color: #ECDEFF;
}
.tabla>table>tbody>tr.checked:hover>td{
	background-color: #E4D2FD;
}
.tabla>table>tbody>tr.checked>td:first-child{
	border-left: 8px solid blue;
}
.tabla>table>tbody>tr.checked:hover>td:first-child{
	border-left: 8px solid blue;
}
.tabla>table>tbody>tr>td.checkbox,
.tabla>table>thead>tr>th.checkbox {
	width: 10px;
}
.tabla>table>tbody>tr>td {
	background-color: white;
	color:	#555555;
	padding: 5px 7px;
	cursor: default;
	font-size: 13px;
/*	width: 150px;*/
	border-bottom: 1px solid #ccc;
	text-transform: uppercase	!important;
	transition: .2s;
	-ms-transition: .2s;
	-webkit-transition: .2s;
	-moz-transition: .2s;
	-o-transition: .2s;
}

/*.tabla>table>tbody>tr>td > *{
	margin: 0 auto	!important;
}*/
.tabla>table>tbody>tr>td:first-child {
	border-left: 1px solid #ccc;
}
.tabla>table>tbody>tr>td:last-child {
	text-align: right;
	border-right: 1px solid #ccc;
}
.tabla>table>tbody>tr>td:last-child >* {
	float:	right	!important;
}
.tabla>table>tbody>tr:hover>td {
	background-color: #f3f3f3;
}

.tabla>table>tbody>tr:hover>td:first-child {
	border-left: 1px solid #c6d8e4;
}

.tabla>table>tbody>tr:hover>td:last-child {
	border-right: 1px solid #c6d8e4;
}
.tabla>table>tbody>tr>td>button.rowButton {
	font-family: 'Arial';
	padding: 5px 7px;
	display: inline-block;
	font-size: 12px;
	cursor: pointer;
	margin-right: 2px;
	background-color: #428bca;
	color: white;
	border: 1px solid #357ebd;
	border-radius: 3px;
	font-weight: bold;
}
.tabla>table>tbody>tr>td>button.rowButton:hover {
	background-color: #25709C;
}

.tabla>table>tbody>tr>td>select.tbleslct {
	border:	1px solid #3A65DD;
	background-color:	transparent;
	margin: -5px 2px -5px -2px !important;
	width: 90px;
	float: none	!important;
	text-align: center;
}
.tabla>table>tbody>tr>td>select[disabled].tbleslct {
	border:	1px solid transparent	!important;
}
.tabla>table>tbody>tr>td>input.tbletxt {
	border:	1px solid #3A65DD;
	background-color:	transparent;
	margin: -5px 2px -5px -2px !important;
	width: 90px;
	float: none	!important;
}
.tabla>table>tbody>tr>td>input[disabled].tbletxt {
	border:	1px solid transparent	!important;
}
.tabla>table>tbody>tr>td>input[type="button"].toedit,
.tabla>table>tbody>tr>td>input[type="button"].editing {
	border:	1px solid #ccc;
	border-radius: 3px;
	cursor:pointer;
	background-color:	transparent;
	width: 25px;
	height: 25px;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.tabla>table>tbody>tr>td>input[type="button"].toedit {
	background-image: url(../js/Content/images/icon-edit.png);
}
.tabla>table>tbody>tr>td>input[type="button"].editing {
	background-image: url(../js/Content/images/right.jpg);
}
.tabla>table>tbody>tr>td>input.tbletxt:focus,
.tabla>table>tbody>tr>td>select.tbleslct:focus {
	border:	1px solid #3A65DD;
	font-weight:bold;
	color: #3A65DD;
}
.tabla>table>tbody>tr.hide {
	display: none;
	transition: .6s;
	-ms-transition: .6s;
	-webkit-transition: .6s;
	-moz-transition: .6s;
	-o-transition: .6s;
}
.tabla>table>tfoot{
	text-align: right	!important;
	width: 100%;
}
.tabla>table>tfoot>tr>td>div {
	cursor: pointer;
	display: inline-block;
	border:	1px solid #ccc;
	background-color: #fafafa;
	text-align:center;
	color: #191919;
	font-size: 20px;
	padding: 2px 10px;
	margin-top: 5px;
	margin-left: 5px;
}
/*.tabla>table>tbody>tr>td {*/
/*	text-align: left	!important;*/
/*}*/
/*.tabla>table>tbody>tr>td>div {*/
/*	cursor: pointer;*/
/*	display: inline-block;*/
/*	text-align:left	!important;*/
/*	color: #191919;*/
/*	font-size: 15px;*/
/*	padding: 2px 10px;*/
/*	margin-top: 5px;*/
/*	margin-left: 5px;*/
/*	left: 0px;*/
/*	width: auto	!important;*/
/*}*/
/*.tabla>table>tbody>tr>td>div:first-child {*/
/*	font-size: 20px;*/
/*	width: auto	!important;*/
/*	display:block;*/
/*	font-weight: bold;*/
/*}*/