.page_content {
	z-index:7600;
	background-color:	white;
	position: fixed;
	top:0px;
	left:0px;
	width: 100%;
	height: 100%;
	padding-top: 100px;
	display:none;
}
.page_content .close {

}
.page_content .open {
	display:block;
}
.page_content > .page_bg {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #eeeeee;
    border-radius: 3px;
}
.page_bg > * {
    margin: 0px 20px;
}
.page_title {
	font-size: 400%;
    font-weight: 500;
    color: #333333;
}
.page_sub_title {
	font-size: 20px;
	color: #232323;
}
.page_text_content {
	font-size: 17px;
    line-height: 1.6em;
	text-align:justify;
    padding-top: 20px;
}
.page_content>* {
	width: 90%;
    margin-right: 5%;
    margin-left: 5%;
}
.page_footer {
    text-align:right;
    color: #191919;
    padding: 10px 0px 10px 0px;
}
