/* Created by Arian Stolwijk <http://www.aryweb.nl> */

.MooDialog {
   color:   #626464  !important;
   border:  2px solid #ccc;
   width: 300px;
   position: fixed;
   margin: -150px 0 0 -150px;
   top: 60%;
   left: 50%;
   z-index: 50000;
   background-color: white;
   color: black;
   padding: 10px;
   box-shadow: 0px 0px 20px #d3d3d3;
   -ms-box-shadow: 0px 0px 20px #d3d3d3;
   -webkit-box-shadow: 0px 0px 20px #d3d3d3;
   -moz-box-shadow: 0px 0px 20px #d3d3d3;
   -o-box-shadow: 0px 0px 20px #d3d3d3;
}

.MooDialogTitle {
   padding-top: 30px;
}

.MooDialog .content {
   /*	height: 100px;*/
}

.MooDialog .title {
   background-color:#ececec;
   background-image:-webkit-linear-gradient(top,#fbfbfb,#e4e4e4);
   background-image:-moz-linear-gradient(top,#fbfbfb,#e4e4e4);
   background-image:-ms-linear-gradient(top,#fbfbfb,#e4e4e4);
   background-image:-o-linear-gradient(top,#fbfbfb,#e4e4e4);
   background-image:linear-gradient(top,#fbfbfb,#e4e4e4);
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   padding: 3px 20px;
   border-bottom: 1px solid #a1aec5;
   color:   #626464  !important;
   font-weight: bold;
}

.MooDialog .close {
   border-radius:15px;
   background-image: url(modal-close.png);
   background-position: 2px -1px;
   background-repeat: no-repeat;
   width: 16px;
   height: 16px;
   display: block;
   cursor: pointer;
   top: 5px;
   right: 10px;
   position: absolute;
}
.MooDialog .close:hover {
   background-position: 2px -21px;
}

.MooDialog .buttons {
   text-align: right;
   margin: 0;
   padding: 0;
   border: 0;
   background: none;
}

.MooDialog .iframe {
   width: 100%;
   height: 100%;
}

.MooDialog .textInput {
   width: 200px;
   float: left;
}

.MooDialog .MooDialogAlert,
.MooDialog .MooDialogConfirm,
.MooDialog .MooDialogPrompt,
.MooDialog .MooDialogError {
   background: url(dialog-warning.png) no-repeat;
   padding-left: 40px;
   padding-top: 10px;
   min-height: 40px;;
   text-align: justify;
}

.MooDialog .MooDialogConfirm,
.MooDialog .MooDialogPromt {
   background: url(dialog-question.png) no-repeat;
}

.MooDialog .MooDialogError {
   background: url(dialog-error.png) no-repeat;
   /*   background-color: white;*/
   /*   border:1px solid #ccc;*/
   border-radius:5px;
}
.myDialog {
   margin: -200px 0 0 -350px;
   width: 700px;
   height: 300px;
}
.myDialog iframe {
   width: 700px;
   height: 300px;
}
.MooDialog [type=button]{
   color:#707070;
   text-shadow:0 1px 1px #fff;
   border:1px solid #ccc;
   border-bottom:1px solid #c0c0c0;
   cursor:pointer;
   font-family: Arial;
   padding: 3px 7px 3px 7px;
   border-radius: 2px;
   margin-left:   5px;
}
.MooDialog [value="Aceptar"]{
   color:#fff;
   border:1px solid #b0281a;
   background-color:#83af31;
   background-image:-webkit-linear-gradient(top,#dc4a38,#c53727);
   background-image:-moz-linear-gradient(top,#dc4a38,#c53727);
   background-image:-ms-linear-gradient(top,#dc4a38,#c53727);
   background-image:-o-linear-gradient(top,#dc4a38,#c53727);
   background-image:linear-gradient(top,#dc4a38,#c53727);
}